<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RemoteExchange" value="prompt"/>
    <add key="DomainController" value="automatic"/>
    <add key="UserName" value="prompt"/>
    <add key="Password" value="prompt"/>
    <add key="RememberExchangeServer" value="true"/>
    <add key="RememberUserName" value="true"/>
    <add key="RemeberPassword" value="false"/>
    <add key="LogPath" value="%temp%\RBACManager.log"/>
    <add key="LoggingEnabled" value="true"/>
  </appSettings>
</configuration>
